// Variables

// Social networks brand colors.
$twitter-brand = #55ACEE;
$facebook-brand = #3B5999;
$google-brand = #E34D45;
$github-brand = #333333;
$vkontakte-brand = #4D76A4;
$vk-brand = $vkontakte-brand;
$mailru-brand = #168DE2;
$moimir-brand = $mailru-brand;
